<div>
    <p>Hi <%= resetPasswordObject.user.name%></p>
    <br>
    <p>Please click on the link below to reset your password</p>
    <br>
    <a href="http://localhost:8000/users/reset-password/reset?accessToken=<%= resetPasswordObject.accessToken %>">Reset Password</a>
    <p>Thanks!</p>
</div>