<div class="wrapper">
    <form action="/users/reset-password/update/<%= user._id %>" method="post">
    <input type="password" name="password1" id="password-1" required>
    <input type="password" name="password2" id="password-2" required>
    <button type="submit">Reset Password</button>
    </form>
</div>