<div class="wrapper">
    <form action="/users/reset-password/send-email" method="post">
        <label for="email">Enter your email registered with us</label>
        <input type="email" name="email" id="email" placeholder="Email">
        <button type="submit">Send reset Link</button>
    </form>
</div>