<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Hello <%= users.username %>
</h1>
<form action="/users/end_session" method="post">
    <button type="submit">Sign Out</button>
</form>
<script src="/js/user_profile.js"></script>