<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="form-container">
    <form action="/users/create-session">
        <div>
            <label for="email">Enter your email</label>
            <input type="email" name="email" id="email" placeholder="Email.....">
        </div>
        <div>
            <label for="password">Enter your password</label>
            <input type="password" name="password" id="password" placeholder="Password....">
        </div>
        <button type="submit">Sign In</button>
    </form>
</div>