@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    height: 100%;
}

body {
    background-color: rgb(15, 161, 161);
    color: white;
    text-align: center;
    height: inherit;
    #layout-main {
        height: inherit;
    }
}

button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    color: blue;
}