@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

#layout-main {
  background-color: #0fa1a1;
  color: white;
  height: 100vh; }

button {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem; }

button:hover {
  color: blue; }
