body {
    background-color: lightcoral;
}

form {
    margin-bottom: 5%;
}

button {
    border: none;
    outline: none;
    background: rgba(226, 101, 101, 0.705);
    color: white;
    padding: 0.7em;
    border-radius: 14px;
    cursor: pointer;
}